@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.background-text-container {
    margin: 23px;
    padding: 18px;
}

.text-main-heading {
    font-family: "Roboto";
    color: white;
    font-size: 30px;
    font-weight: solid;
    margin: 8px;
}

.text-description {
    color: white;
    font-size: 14px;
    margin: 20px;
}

.watch-now-button {
    border-radius: 8px;
    margin: 8px;
    color: #ff8348;
    font-size: 14px;
    width: 100px;
    height: 100px;
    font-weight: solid;
}

.similar-movies-side-heading {
    color: white;
    font-size: 20px;
    margin: 22px;
}

.image-card-section {
    margin: 10px;
}
